{% import "/components/forms/form_renderer.html" as form_renderer %}
<script src="https://unpkg.com/htmx.org@1.9.10"></script>
<div class="flex flex-col items-center justify-center min-h-screen bg-gradient-to-br from-primary/10 via-base-200 to-base-100">
  <div class="card border border-base-content/20 shadow-xl min-w-96 max-w-md w-full mx-auto bg-base-100 rounded-xl">
    <form method="post" class="space-y-4 px-6 py-8">
      {% if error_msg %}
      <div role="alert" class="alert alert-error mb-4 rounded-lg shadow">
        <span>{{ error_msg }}</span>
      </div>
      {% endif %}
      <h2 class="text-center text-primary text-3xl font-bold mb-6">
        Register
      </h2>
      {{ form.csrf_token }}
      <div class="mb-2">
        <label class="block text-sm font-medium mb-1" for="username">Username</label>
        {{ form_renderer.render_text_input(form.username, placeholder="Enter your username", class="input input-bordered w-full") }}
      </div>
      <div class="mb-2">
        <label class="block text-sm font-medium mb-1" for="password">Password</label>
        {{ form_renderer.render_text_input(form.password, placeholder="Enter your password", type="password", class="input input-bordered w-full") }}
      </div>
      <div class="mb-2">
        <label class="block text-sm font-medium mb-1" for="confirm_password">Confirm Password</label>
        {{ form_renderer.render_text_input(form.confirm_password, placeholder="Re-enter your password", type="password", class="input input-bordered w-full") }}
      </div>
      <div class="mb-2">
        <label class="block text-sm font-medium mb-1" for="campus">Campus</label>
        <select name="campus" id="campus" class="select select-bordered w-full"
                hx-get="{{ url_for('users.load_departments_for_register') }}"
                hx-target="#department-dropdown"
                hx-trigger="change"
                hx-include="[name=campus]">
          {% for campus in campuses %}
            <option value="{{ campus.id }}">{{ campus.name["0"] }}</option>
          {% endfor %}
        </select>
      </div>
      <div class="mb-2">
        <label class="block text-sm font-medium mb-1" for="department">Department</label>
        <div id="department-dropdown">
          <select name="department" class="select select-bordered w-full">
            {% for key, name in departments.items() %}
              <option value="{{ key }}">{{ name }}</option>
            {% endfor %}
          </select>
        </div>
      </div>
      <div class="mt-6 flex justify-end">
        <button type="submit" class="btn btn-primary w-full btn-lg rounded-lg shadow hover:scale-105 transition-transform">
          Register
        </button>
      </div>
    </form>
  </div>
</div>