{% for year in years %}
<li>
  <label class="flex items-center cursor-pointer p-2 hover:bg-gray-100">
    <input type="radio" 
           name="selected_year" 
           value="{{ year }}" 
           class="radio radio-primary radio-sm mr-2"
           {% if year == selected_year %}checked{% endif %}
           hx-post="/summary/stats" 
           hx-target="#stats-container" 
           hx-include="[name='time_period']:checked, [name='selected_year']:checked"
           hx-trigger="change"
           hx-swap="outerHTML">
    <span class="flex-1">{{ year }}</span>
  </label>
</li>
{% endfor %}

<!-- Auto trigger charts update -->
<div class="hidden">
  <div hx-post="/summary/charts" 
    hx-target="#charts-container"
    hx-include="[name='time_period']:checked, [name='selected_year']:checked"
    hx-trigger="change from:[name='selected_year']"
    hx-swap="outerHTML"></div>
  <div hx-get="/summary/partials/top_sub_scope"
    hx-target="#top-sub-scope-content"
    hx-include="[name='selected_scope'],[name='time_period']:checked, [name='selected_year']:checked"
    hx-trigger="change from:[name='selected_year']"
    hx-swap="outerHTML"></div>
</div>

